{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="text-danger">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="text-danger">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign-up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
        </div>
    </div>
{% endblock content %}
